<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>example - page1</title>
    <% if (env === "production") { %>
        <link rel="stylesheet" href="/page1/index.css">
        <% } %>
    <script src="./node_modules/react/dist/react.js"></script>
    <script src="./node_modules/react-dom/dist/react-dom.js"></script>
    <script src="./node_modules/pixi.js/dist/pixi.js"></script>
</head>

<body>
    <div class="total-container">
        <div id="main"></div>
    </div>
    <script src="/bundle.js"></script>
    <% if (env !== "production" && reload === true) { %>
        <script src="/reload/reload.js"></script>
    <% } %>
</body>

</html>