.table{
    width: 200px;
}

.table,
.row,  
.cell{ 
    margin: 10px;
    overflow: hidden;
}

.table{
    border: 1px solid green;
} 

.cell{
    border: 1px solid #00f;padding: 20px;
}

.some26{
    background: red;
}