.linklayer{
    width:100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    background:
        -webkit-linear-gradient(top, transparent 19px,rgba(0, 0, 0, 0.45) 20px),
        -webkit-linear-gradient(left, transparent 19px,rgba(0, 0, 0, 0.45) 20px)
        ;
    background-size: 20px 20px;
}

.link{
    width: 300px;
    height: 300px;
    background: red
}